.grid-container {
  display: grid;
  background-color: rgb(243, 243, 243);
  padding: 0px;
  justify-content: center;
  width: 40rem;
  height: 40rem;
}

.color {
  background-color: rgb(200, 85, 223);
  border-color: black;
  border: solid 1px rgb(65, 21, 21);

}

.grid-item {
  border-color: black;
  border: solid 1px rgb(65, 21, 21);
  background-color: black;
  color: aqua;
}